/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bdc76b; /* Warna hijau matcha */
}

header {
    background-color: #8b4513; /* Warna coklat susu gelap */
    color: #f5f5dc; /* Warna krem untuk teks */
    text-align: center;
    padding: 10px;
}

.mangaka {
    margin: 20px;
    padding: 20px;
    background: linear-gradient(45deg, #f5f5dc, #e0cfa0); /* Gradasi warna krem dan coklat susu untuk setiap mangaka */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mangaka h2 {
    color: #8b4513; /* Warna coklat susu gelap untuk judul */
}

.mangaka img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.mangaka p {
    color: #666;
    line-height: 1.6;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .mangaka {
        margin: 10px;
        padding: 15px;
    }
}
